@import "http://webfonts.ru/import/fira.css";

body{
	font-size:12px;
	font-family: 'Fira Sans';
	margin: 0;
	padding: 0;
	border-collapse: collapse;
	min-width: 980px;
	background: #fff;
}

html{
	overflow-y: scroll;
}

body,html{
	height: 100%;
	margin: 0;
	padding: 0;
}
*{
	margin: 0;
	padding: 0;
	text-align: left;
}

h1{
	font-size:18px;
	font-weight:400;
}


.header{
	height: 60px;
	line-height:60px;
	position: relative;
	background: #444;
}
.header a{
	text-decoration:none;
}

.wrapper{
	overflow:hidden;
	min-width:980px;
	max-width:1280px;
	display: block;
}

.container{
	min-width:980px;
	max-width:980px;
	min-height: 100%;
	height:auto !important;
	height:100%;
	margin:0 auto;
	position: relative;
	display: block;
	width: 100%;
	background: #efefef;
}

.content{
	min-width: 690px;
	max-width: 690px;
	width:auto !important;
	width:100%;
	display: inline-block;
	background: #efefef;
}

.sidebar{
	float:left;
	width:270px;
	text-align: center;
	display: inline-block;
	overflow: hidden;
	background: #dedede;
}

.footer{
	position: relative;
	width:100%;
	margin:-60px 0 0;
	height:60px;
	z-index:20;
	text-align: right;
	overflow: hidden;
	background: #dedede;
}

/*admin menu*/
ul.adminMenu
{
	height:60px;
	display: block;
}

ul.adminMenu li
{
	padding:0 20px;
	text-align: center;
	display: inline-block;
}
ul.adminMenu li:hover
{
	background:#666;
}
ul.adminMenu li a{
	color: #fff;
	font-weight: 400;
	text-decoration: none;
	font-size: 12px;
}

ul.adminMenu li.selected {
	background: #ccc;
}

ul.adminMenu li.selected a{
	color: #333;
	text-decoration: none;
}

/*Рубрики */
ul.admin_rubrics
{
	list-style: none;
	padding-left: 10px;
}

ul.admin_rubrics .add
{
	font-size: 12px;
	padding-left: 20px;
}

ul.admin_rubrics li a.item{
	font-size: 20px;
	color:#44f;
}

ul.admin_rubrics li a{
	color:#333;
}

ul.admin_rubrics li a.subitem{
	padding-left: 20px;
	font-size: 18px;
}

ul.admin_rubrics li .add
{
	padding-left: 30px;
}

ul.admin_rubrics .add a{
	color:#333;
}

.item.deleted
{
	color: #555!important;
}