.logo
{
	display: inline-block;;
	width:150px;
	height:100px;
}

.logo a{
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;;
	width:100px;
	height:40px;
}

ul.menu.index
{
	display: inline-block;
	height:100px;
}

ul.menu.index, ul.menu.index .subitem
{
	list-style: none;
}

ul.menu.index li
{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
	display: inline-block;
	margin: 10px;
}

ul.menu.index .subitem li
{
	display: none;
}

.container
{
	width: 1240px;
	margin: 0 auto;
}