/** block 1 **/
.content.block1 .left
{
	display: inline-block;
	width: 720px;
	overflow: hidden;
	float: left;
}
.content.block1 .left .top .slider{
	width: 100%;
	height:400px;
	background: #555;
	color:#fff;
	font-size: 24px;
	text-align: center;
	vertical-align: middle;
}

.content.block1 .right
{
	display: inline-block;
	width: 480px;
	overflow: hidden;
	float: left;
	position: relative;
}

.content.block1 .right .top
{
	position: relative;
	display: block;
	width: 480px;
	min-height: 100px;
}

.content.block1 .right .bottom
{
	position: relative;
	display: block;
	width: 480px;
	min-height: 100px;
}

.content.block1 .right .bottom .left{
	display: inline-block;
	max-width: 240px;
}

.content.block1 .right .bottom .right{
	display: inline-block;
	max-width: 240px;
}

/** block 2 **/
.content.block2 .left
{
	display: inline-block;
	width: 720px;
	overflow: hidden;
	float: left;
}

.content.block2 .right
{
	display: inline-block;
	width: 480px;
	overflow: hidden;
	float: left;
	position: relative;
}

.content.block2 .right .left
{
	display: inline-block;
	width: 236px;
	overflow: hidden;
	float: left;
	position: relative;
}

.content.block2 .right .right
{
	display: inline-block;
	width: 236px;
	overflow: hidden;
	float: left;
	position: relative;
}

.content.block2 .right .bottom
{
	display: inline-block;
	width: 480px;
	overflow: hidden;
	float: left;
	position: relative;
}

/** top authors **/
.top-author div
{
	margin: 10px;
	width: 240px;
	overflow: hidden;
}

.top-author div span
{
	display: inline-block;
}

/** misc **/
.logo
{
	display: inline-block;;
	width:150px;
	height:100px;
}

.top-banner
{
	margin: 0 auto;
	text-align: center;
}

.logo a{
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;;
	width:100px;
	height:40px;
}

ul.menu.index
{
	display: inline-block;
	height:100px;
}

ul.menu.index, ul.menu.index .subitem
{
	list-style: none;
}

ul.menu.index li
{
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bolder;
	display: inline-block;
	margin: 10px;
}

ul.menu.index .subitem li
{
	display: none;
}

.container
{
	width: 1200px;
	margin: 0 auto;
}

ul.rubrics
{
	margin: 0;
	padding: 0;
}

ul.rubrics li{
	list-style: none;
	display: inline-block;
}