/** blocks on index **/
.content_block .post_list_item h3
{
	font-size: 14px;
}

.content_block .post_list_item
{
	margin-bottom: 10px;
	word-wrap: break-word;
	margin: -2px;
}


/** block 1 index **/
.content.block1 .left .bottom .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block1 .left .bottom .post_list_item.main_popular img{
	max-width: 232px;
}

.content.block1 .right .top .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block1 .right .top .post_list_item.main_popular img{
	max-width: 232px;
}

.content.block1 .right .bottom .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block1 .right .bottom .post_list_item.main_popular img{
	max-width: 232px;
}


/** block 2 index **/

.content.block2
{
	padding-top: 20px;
}

.content.block2 .left .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block2 .left .post_list_item.main_popular img{
	max-width: 232px;
}


.content.block2 .right .bottom .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block2 .right .bottom .post_list_item.main_popular img{
	max-width: 232px;
}

/** block 3 index **/

.content.block3
{
	padding-top: 20px;
}

.content.block3 .post_list_item.main_popular
{
	display: inline-block;
	width: 232px;
	padding: 4px;
	vertical-align: top;
	overflow: hidden;
}

.content.block3  .post_list_item.main_popular img{
	max-width: 232px;
}
/** post item **/

.post_item
{
	display: block;
	width: 690px;
	padding: 0;
	margin-bottom: 10px;
	background: #fff;
	float: none;
	position: relative;
}

.post_item img{
	max-width: 690px;
}